AutoConfigurationDemo/target/
AutoConfigurationDemo/.mvn/
AutoConfigurationDemo/.project
AutoConfigurationDemo/.classpath
AutoConfigurationDemo/.settings



AutoConfigurationDemo-2/target/
AutoConfigurationDemo-2/.mvn/
AutoConfigurationDemo-2/.project
AutoConfigurationDemo-2/.classpath
AutoConfigurationDemo-2/.settings